<%layout('layouts/boilerplate')%>

<div class="row mb-3 text-center">
    <h1 class="mb-4"><%=teamName%> </h1>
    <div class="col-2"></div>
    <div class="col-8">
        <% for(let player of players){ %>
        <a href="/teams/<%=teamName%>/<%=player._id%>" style="color: inherit; text-decoration: none;">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <img src="<%=player.image%>" class="img-fluid my-3 mx-5" style="width: 8rem; height: 8rem;" alt="">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h4 class="card-title mt-4"><%=player.name%> </h4>
                            <p class="card-text"><%=player.role%></p>
                            <h6 class="text-muted"><%=player.age%> years </h6>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <% } %>
    </div>
    <div class="col-2"></div>
</div>
